/* Reset básico */
body, h1, h2, h3, p, ul, li, a, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    line-height: 1.6;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  header h1 {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 20px 0;
  }
  
  #sobre, #equipe, #visita, #noticias {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input, form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .container{
    text-align: center;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  #catalogo .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #catalogo h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #catalogo .produto {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 250px;   
   /* flex: 1 1 200px;*/
  }


  .produto
  {
    width: 250px;
    margin: 20px;
    padding: 10px;
  }
  .produto img {
    height: 250px;
    width: auto;
  }
  
  